<h1>Items#index</h1>

<%= link_to "sort by status", items_path(sort_by: "status") %>
<%= link_to "sort by clearance_batch_id", items_path(sort_by: "clearance") %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>size</th>
      <th>color</th>
      <th>status</th>
      <th>price sold</th>
      <th>sold at</th>
      <th>name</th>
      <th>clearance_batch_id</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.size %></td>
        <td><%= item.color %></td>
        <td><%= item.status %></td>
        <td><%= item.price_sold %></td>
        <td><%= item.sold_at %></td>
        <td><%= item.style.name %></td>
        <td><%= item.clearance_batch_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
